---
import SectionHeading from "@components/typography/SectionHeading.astro";
---
<div id="projects">
  <SectionHeading title="Projects"/>
  <p>After deciding to return to software development, I prioritized my development projects. The version 0 portfolio showcases my past design work. Some items are password protected, but I’m happy to provide access upon request.</p>
</div>

<style>
  #projects {
    
  }
</style>