---
import HeaderLink from "./HeaderLink.astro";
import { TOP_NAV_HEIGHT } from "@constants";
---
<header>
  <nav class="flex flex-row w-full h-14 justify-between items-center z-10 fixed bg-transparent">
    <div class="font-playfair">
      <a href="/">Lucca Romaniello</a>
    </div>
    <div>
      <HeaderLink href="/">Work</HeaderLink>
      <HeaderLink href="/">Resumé</HeaderLink>
      <HeaderLink href="/">Contact</HeaderLink>
    </div>
  </nav>
</header>
<style define:vars={{TOP_NAV_HEIGHT}}>
  header {
    /* margin: 0;
    padding: 0 1em;
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: var(--TOP_NAV_HEIGHT); */
  }
</style>
